$primary-color: #4563e6;
$secondary-color: #ffbe12;
$gradient-color: linear-gradient(180deg, rgba(2,173,241,1) 33%, rgba(69,98,230,1) 96%, rgba(69,99,230,1) 20%);
$disable-color: #cfcfcf;
$text-color: #ffffff;
$title-color: #181818;
$subtitle-color: #565656;
$border-color: #C4C4C4;
$input-color:#696969;