@font-face {
  font-family: "ArgentumSans";
  src: url("../fonts/ArgentumSans-Black.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "ArgentumSans";
  src: url("../fonts/ArgentumSans-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "ArgentumSans";
  src: url("../fonts/ArgentumSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
